.languageWrapper {
    display: flex;
    justify-content: flex-end;
}

.languageWrapper ul {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.current {
    color: var(--secondary-color) !important;
}

.languageWrapper li a {
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color);
}

.languageWrapper li:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .languageWrapper {
        justify-content: center !important;
        margin-top: 30px;
    }
    .languageWrapper ul {
        padding-left: 0 !important;
    }
    .languageWrapper li a {
        font-size: 16px !important;
    }
}