.statistics {
  background: var(--main-color);
  padding: 64px 0;
}

.description {
  max-width: 120px;
  color: var(--white-color);
  font-size: 16px;
  text-align: center;
}

.title {
  font-size: 80px;
  margin-bottom: 10px;
  color: var(--white-color);
}

.columnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
